body {
  align-content: center;
  text-align: center;
  background: #131d1e;
  zoom: 10;
}

div.vol {
  background-color: #479da2;
  border-radius: 20px;
  display: inline-grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 50% 50%;
  height: 50px;
  width: 80px;
}

button {
  background: none;
  border: 0.1px solid #131d1e;
  color: #003739;
  cursor: pointer;
}

button#mute {
  grid-column: span 2;
}
